.navbar {  
  padding: 10px 0;
  width: 100%;
  color: #F6EAD1;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 6;
}

.navbarContent {
  padding: 10px 20px;
  font-size: min(3.2vh, 3vw);
  cursor: pointer;
}

.main {
  height: 100%;
  position: relative;
}

.textStyle1 {
  color: #A21F17;
  text-shadow: -0.1vw 0.05vw 0px #E19E00;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.textStyle2 {
  color: #532E18;
  text-shadow: -0.3vw 0.2vw 0px #E19E00;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textStyle3 {
  color: #3D461C;
  text-shadow: -0.15vw 0.15vw 0px #E19E00;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textStyle4 {
  color: #E19E00;
  text-shadow: -0.5vw 0.2vw 0px #3D461C;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rsvp {
  position: absolute;
  z-index: 7;
  top: 40%;
  left: 50%;
  min-width: 35vw;
  transform: translateX(-50%) translateY(-50%);
  width: min(500px, 90vw);
  border-radius: min(4vh, 5vw) min(4vh, 5vw);
  background-color: #F6EAD1;
}

.bgCircle {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: min(30vh, 50vw);
  height: min(30vh, 50vw);
  border-radius: 100%;
  background: #E29F00;
}

.myInput {
  background: none;
  width: 250px;
  color: #A21F17;
  border: 1px solid #3D461C;
  border-radius: 8px;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 20px;
}

.interviewTextLeft {
  position: absolute;
  left: 25%;
  color: #F6EAD1;
  top: 50%;
  transform: translateY(-50%);
}

.interviewLeft {
  background-color: #3D461C;
  border-radius: 2vw;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  left: 25%;
  height: 75%;
  width: 75%;
}

.interviewTitleLeft {
  position: absolute;
  left: 15%;
  top: max(-10vw, -8vh);
}

.interviewTextRight {
  position: absolute;
  right: 25%;
  color: #F6EAD1;
  top: 50%;
  transform: translateY(-50%);
}

.interviewRight {
  background-color: #3D461C;
  border-radius: 2vw;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  right: 25%;
  height: 75%;
  width: 75%;
}

.interviewTitleRight {
  position: absolute;
  right: 15%;
  top: max(-10vw, -8vh);
}

.abc {
  height: 50px;
}

@media only screen and (max-width: 500px) {
  .abc {
    height: 0;
  }  
}

.photoLeft {
  width: 50vw; 
  background-color: #3D461C;
  position: absolute;
  left: 0
}

.photoRight {
  width: 50vw; 
  background-color: #3D461C;
  position: absolute;
  right: 0
}

.photoCenter {
  width: 100vw; 
  background-color: #3D461C;
  position: relative;
}

.photoTitle {
  font-size: min(5vh, 3vw);
  color: #E29F00;
  margin-top: min(3vh, 1vw);
}

.photoTitleCenter {
  font-size: 4vw;
  color: #E29F00;
  margin-top: 2vw;
}

.photoContent {
  font-size: 3.2vh;
  color: #F6EAD1;
  margin-top: min(3vh, 1vw);
}

.photoContentCenter {
  font-size: 3.0vw;
  color: #F6EAD1;
  margin-top: 2vw;
}

.track {
  margin-top: 0.5vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #3d461c3e;
}

.trackName {
  font-size: min(3vh, 2.8vw);
  max-width: 80%;
}

.loader {
  width: 24px;
  height: 24px;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #FFF;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #E29F00;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
}
}
    